/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
:root {
  --font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
input {
  width: 272px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  background: #fff;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  cursor: pointer;
}
input:hover,
input:focus {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

button:hover {
  background: #6c8cff;
}
/* --------------create loader------------------ */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #e80505;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* ---------------------------------------------- */

.image {
  height: 200px;
  width: 100%;
}
/* Основний контейнер галереї */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
  margin-top: 48px;
}
.gallery-link {
  display: block;
}
.card {
  border: 1px solid #808080;
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.card-points {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 48px;
}
.card-link {
  display: inline-block; /* Дозволяє блокувати елементи вставлятися на одному рівні розмітки */
  text-decoration: none;
}
.card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
